body, html, form {
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

#background-image {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	background-image: url('../images/login-image.jpg');
	background-size: 100% 100%;
	/* -webkit-filter: blur(5px); */
}

#background-blur {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: black;
	opacity: 0.1;
}

.container-fluid {
	position: absolute;
	z-index: 100;
}

.top-offset {
	margin-top: 3%;
}

#logo {
	z-index: 5;
}

.pusheen {
	border: 1px solid black;
}